{% load static %}
<!doctype html>

<html class="no-js" lang="zx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Job Board</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static  'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
     <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid ">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-lg-2">
                                <div class="logo">
                                    <a href="index.html">
                                        <img src="img/logo.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-7">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="/">home</a></li>
                                            <li><a href="/job">Browse Job</a></li>
                                            <li><a href="/">pages </a>
                                                <ul class="submenu">
                                                    <li><a href="/candidate">Candidates </a></li>
                                                    <li><a href="/auth/profile">profile </a></li>
                                                    <li><a href="/auth/likes">likes </a></li>
                                                    <li><a href="/auth/response">Responses</a></li>
                                                    <li><a href="/auth/Company">Company</a></li>


                                                </ul>
                                            </li>

                                            <li><a href="/contact">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                <div class="Appointment">
                                    <div class="phone_num d-none d-xl-block">
                                        {% if user.is_authenticated %}
                                    <a href="auth/logout">Log out</a>
                                    {% else %}
                                        <a href="auth/login">Log in</a>

                                        {%endif%}
                                    </div>
                                    <div class="d-none d-lg-block">
                                        <a class="boxed-btn3" href="/auth/postjob">Post a Job</a>
                                    </div>

                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="single_slider  d-flex align-items-center slider_bg_1">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-6">
                        <div class="slider_text">
                            <h5 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">{{AvaliableJobs}}+ Jobs listed</h5>
                            <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">Find your Dream Job</h3>
                            <p class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">We provide online instant cash loans with quick approval that suit your term length</p>
                            <div class="sldier_btn wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                                <a href="#" class="boxed-btn3">Start searching for job now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ilstration_img wow fadeInRight d-none d-lg-block text-right" data-wow-duration="1s" data-wow-delay=".2s">

             <img src="{% static 'img/banner/illustration.png' %}" alt="">

        </div>
    </div>

    <div class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="job_details_header">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div class="thumb">

                                    <img src="{% static user.companyuser.company.Symbol.url %}" alt="" style='max-width: 100%; max-height: 100%'>

                                </div>
                                <div class="jobs_conetent">

                                    <a href="#"><h4>{{user.username}}</h4></a>


                                </div>
                            </div>
                            <div class="jobs_right">
                                <div class="apply_now">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="descript_wrap white-bg">




                        <div class="single_wrap">
                           <div class="apply_job_form white-bg">
                        <h4>Job request</h4>
                               <form action="/Info/job/{{Job.id}}" method="POST" >
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input_field">
                                        <input type="text" name="Name" placeholder="Name" value="{{Job.Name}}" >
                                    </div>
                                </div>













                                <div class="col-md-12">
                                    <div class="input_field">
                                        <textarea name="Description" id="Info"  cols="30" rows="5" placeholder="Description"  >{{Job.Description}}</textarea>
                                    </div>
                                </div>
                                 <div class="col-md-12">
                                    <div class="input_field">
                                        <textarea name="Responsibilities" id="Responsibilities"  cols="30" rows="5" placeholder="Responsibilities"  >{{Job.Responsibilities}}</textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="input_field">
                                        <textarea name="Qualifications" id="Qualifications"  cols="30" rows="7" placeholder="Qualifications"> {{Job.Qualifications}}</textarea>
                                    </div>
                                </div>

                                  <div class="col-md-12">
                                    <div class="input_field">
                                        <textarea name="Benefits" id="Benefits"  cols="30" rows="7" placeholder="Benefits">{{Job.Benefits}}</textarea>
                                    </div>
                                  </div>
                                   <div class="col-md-12">
                                    <div class="input_field">
                                        <input type="text" name="Email" placeholder="Email" value="{{Job.Email}}"  >
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="input_field">
                                        <input type="number" name="Min" placeholder="Min Salary" value="{{Job.Min_salary}}"  >
                                    </div>
                                </div>

                                 <div class="col-md-6">
                                    <div class="input_field">
                                        <input type="number" name="Max" placeholder="Max Salary"   value="{{Job.Max_salary}}" >
                                    </div>
                                </div>




                                     <div class="col-md-6">
                                        <div class="single_field">
                                            <select class="wide" name="Location">

                                                {% for location in Location%}
                                                {%if Job.Location.Name in location%}
                                                <option value="{{location}}" selected>{{location}}</option>
                                                {%else%}
                                                <option value="{{location}}">{{location}}</option>
                                                {%endif%}
                                              {%endfor%}



                                            </select>

                                        </div>
                                         <br>

                                    </div>

                                 <div class="col-md-6">
                                        <div class="single_field">
                                            <select class="wide" name="Category">

                                                {% for category in Category%}

                                                {%if  category in ob.Category.Name%}
                                                <option value="{{category}}" selected>{{category}}</option>
                                                {%else%}
                                                <option value="{{category}}" >{{category}}</option>
                                                {%endif%}
                                              {% endfor %}



                                            </select>

                                        </div>
                                      <br>

                                    </div>



                                <div class="col-md-6">

                                        <div class="single_field">
                                              <br>
                                            <select class="wide" name="Experience">


                                                {%if  'junior' in Job.Experience%}
                                                <option value="junior" selected >Junior</option>
                                                {%else%}
                                                 <option value="junior" >Junior</option>
                                                {%endif%}
                                                {%if  'middle' in Job.Experience%}
                                                <option value="middle" selected>Middle</option>
                                                {%else%}
                                                <option value="middle" >Middle</option>
                                                                    {%endif%}
                                                {%if  'senior' in Job.Experience%}
                                                <option value="senior" selected>Senior </option>
                                                {%else%}
                                                 <option value="senior">Senior </option>
                                                {%endif%}

                                            </select>

                                        </div>
                                     <br>

                                    </div>
                                <div class="col-md-6">
                                    <br>
                                        <div class="single_field">
                                            <select class="wide" name="Type">


                                                {%if 'part_time' in Job.Type%}
                                                <option value="part_time" selected>part time</option>
                                                {%else%}
                                                <option value="part_time">part time</option>
                                                {%endif%}
                                                {%if 'full_time' in Job.Type%}
                                                <option value="full_time" selected >full time</option>
                                                {%else%}
                                                 <option value="full_time" >full time</option>
                                                {%endif%}



                                            </select>

                                        </div>

                                    </div>


                                <div class="col-md-12">

                                    <br>



                                    <div class="submit_btn">





                                    <input class="boxed-btn3 w-100" type="submit" value="Post">


                                    </div>


                                </div>
                            </div>
                        </form>




                            {% for Candidate in object_list %}
                               <div class="job_details_header">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div class="thumb">

                                    <img src="{% static Candidate.Photo.url %}" alt="" style='max-width: 100%; max-height: 100%'>

                                </div>
                                <div class="jobs_conetent">

                                    <a href="{{Candidate.get_absolute_url}}"><h4>  {{Candidate.Name}}</h4></a>
                                    <a href="{% static Candidate.Resume.url %}" download class="genric-btn link-border circle" style="position:relative;">Download resume</a>


                                </div>
                            </div>
                            <div class="jobs_right">
                                <div class="apply_now">

                                </div>
                            </div>
                        </div>
                    </div>
                                      {%endfor%}









                    </div>


                    </div>
                        </div>

                    </div>

                </div>


            </div>
        </div>
    </div>

    <!-- footer start -->
<footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                            <div class="footer_logo">
                                <a href="#">
                                    <img src="img/logo.png" alt="">
                                </a>
                            </div>
                            <p>
                                finloan@support.com <br>
                                +10 873 672 6782 <br>
                                600/D, Green road, NewYork
                            </p>


                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget wow fadeInUp" data-wow-duration="1.1s" data-wow-delay=".4s">
                            <h3 class="footer_title">
                                Links
                            </h3>
                            <ul>
                                <li><a href="/">Main </a></li>
                                <li><a href="/"> Jobs</a></li>
                                <li><a href="/Auth/profile">Profile</a></li>
                                <li><a href="/contact">Contacts</a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".5s">
                            <h3 class="footer_title">
                                Made with
                            </h3>
                            <ul>
                                <li><a href="#">Django</a></li>
                                <li><a href="#">Postgre</a></li>
                                <li><a href="#">Html/css</a></li>
                                <li><a href="#">JS</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".6s">
                            <h3 class="footer_title">
                                Subscribe
                            </h3>
                            <form action="#" class="newsletter_form">
                                <input type="email" placeholder="Enter your mail">
                                <button type="submit">Subscribe</button>
                            </form>
                            <p class="newsletter_text"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text wow fadeInUp" data-wow-duration="1.4s" data-wow-delay=".3s">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--/ footer end  -->

    <!-- link that opens popup -->
    <!-- JS here -->
    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/ajax-form.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/scrollIt.js' %}"></script>
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/gijgo.min.js' %}"></script>



    <!--contact js-->
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>


    <script src="{% static 'js/main.js' %}" ></script>


</body>

</html>